<h1>Create a new bucket list</h1>
<form method="POST" action="create">
	<div>Title: <input type="text" name="title" value=""></div>
	<div><input type="submit" value="create"></div>
</form>

<form action="/list">
    <input type="submit" value="All Lists" />
</form>

<form action="/list/create">
    <input type="submit" value="Create New List" />
</form>

