<h2 class="text-center">Create a new bucket list</h2>
<form method="POST" action="/list/create?user={{user}}">
	<div class="m-2 text-center">
        Title: <input type="text" name="title" value="">
        <input type="submit" value="Create">
    </div>
</form>

