<h1>New Activity</h1>
<form method="POST" action="/list/slug/new?user={{user}}&title={{title}}">
    <div>
        Activity: <input type="text" name="activity" value="">
    </div>
    <div>
        Price: <input type="text" name="price"value="">
    </div>
    <div>
        Tags: <input type="text" name="tags"value="">
    </div>
    <div>
        <input type="submit" value="create">
    </div>
</form>
<div>
    <center>
        <a href= "/list?user={{user}}">All Lists</a>
        <a href= "/list/create?user={{user}}">Create New List</a>
    </center>
</div>