<h1>Create a new bucket list</h1>
<form method="POST" action="create">
	<div>Title: <input type="text" name="title" value=""></div>
	<div><input type="submit" value="create"></div>
</form>

<center>
    <a href= "/list">All Lists</a>
    <a href= "/list/create">Create New List</a>
</center>

