<h2>Create a new bucket list</h2>
<form method="POST" action="/list/create?user={{user}}">
	<div>Title: <input type="text" name="title" value=""></div>
	<div><input type="submit" value="create"></div>
</form>

<div>
    <center>
        <a href= "/list?user={{user}}">All Lists</a>
    </center>
</div>

