<h2 class="text-center">Delete a bucket list</h2>
<form method="POST" action="/list/delete?user={{user}}">
    <div class="text-center">
        <select class="custom-select" name="title">
            <option selected>Choose a Bucket List</option>
            {{#each bucketlists}}
                <option>{{title}}</option>
            {{/each}}
        </select>
        <input class="btn btn-outline-danger" type="submit" value="Submit">
    </div>
</form>