<section id="intro">
    <div class="container-lg">
        <div class="row">
            <div class="col-md-8 text-md-start">
                <h1>
                    <div class="display-4">Welcome to BuckIt!</div>
                    <div class="display-6 text-muted">Create Bucket Lists</div>
                </h1>
            </div>
            <p class="lead text-muted">BuckIt is a web app that will allow users to keep track of multiple bucket lists, such as one to complete before graduating high school, one to complete before graduating college, one before death, etc.</p>
        </div>
        <div class="text-center">
            <a href="/signup" class="btn btn-outline-primary" data-inline="true">Sign Up</a>
            <a href="/signin" class="btn btn-outline-primary" data-inline="true">Sign In</a>
        </div>
    </div>
</section>

