<div class='table'>
    <table align='center'>
        <tr>
            <th>Bucket Lists</th>
        </tr>
        {{#each bucketlists}}
            <tr>
                <td><a href="/list/create?user={{user}}&title={{title}}">{{title}}</a></td>
            </tr>
        {{/each}}
    </table>
</div>
<center>
    <a href= "/list/create?user={{user}}">Create New List</a>
</center>
