<div class='table'>
    <table align='center'>
        <tr>
            <th>Bucket Lists</th>
        </tr>
        {{#each bucketlists}}
            <tr>
                <td>{{title}}</td>
            </tr>
        {{/each}}
    </table>
</div>
<center>
    <a href= "/list">All Lists</a>
    <a href= "/list/create">Create New List</a>
</center>
