<h2>Sign into existing account:</h2>
<form method="POST" action="signup">
    <div>Name: <input type="text" name="name" value=""></div>
	<div>Username: <input type="text" name="username" value=""></div>
	<div>Password: <input type="password" name="password" value=""></div>
	<div><input type="submit" value="Sign In"></div>
</form>