<h2 class="m-2 text-center">Sign into existing account:</h2>

<form method="POST" action="/signin">
    <div class="text-center">
        <label for="name">Username: </label>
        <input type="text" name="username" required>
    </div>
    <div class="text-center">
        <label for="password">Password:</label>
        <input type="password" name="password" required>
    </div>
    <div class="m-2 text-center">
        <input type="submit" value="Sign In"/>
    </div>
</form>