<h2>Sign into existing account:</h2>

<form method="POST" action="/signin">
    <div>
        <label for="name">Username: </label>
        <input type="text" name="username" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
    </div>
    <div>
        <input type="submit" value="Sign In"/>
    </div>
</form>